*{

padding: 0;
margin: 0;



}

footer{
    font-family: "Roboto Slab", serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;

}

.Caja{
display: flex;
margin-right: auto;
margin-left: auto;
padding-bottom: 60px;
padding-top: 60px;
background-color: #202020;


}
.Columna{

    display: flex;
    flex-wrap: wrap;


}
html{
color: white;
font-family:"Roboto Slab", serif; 
background-image: url(https://midu.dev/images/wallpapers/una-taza-de-javascript.png);
background-size: cover;


}

button {
        

    font-size: 13px;
    padding: 20px;
    color:white;
    font-weight: bolder;
    background: none;
    border-bottom: 1px solid white ;
    margin-top: 10px;
 


    }

    textarea{
        border-bottom: 1px solid white ;
        background: none;
        color: white;
       
    }

    input{

        border-bottom: 1px solid white ;
        background: none;
        color: rebeccapurple;


    }

textarea{

margin-top: 25px;


  }