


.Container{
    width: 70%;
    height: 80px;
background-color: #F9E9EC;
display: flex;
justify-content:space-between;
align-items: center;
font-size: 20px;
margin-left: 15%;
font-family:'Lora', serif;
}

#Rest{

font-size: 30px;
padding-left: 30px;


}


.Contenido {

width: 70%;
height: 100px;
justify-content: center;
display: flex;
align-items: center;
font-size: 40px;
font-weight: bolder;
margin-left: 10%;
color: #2896A4;
font-family:'Lora', serif;

}

#From{

    color: #92140C;
font-weight: bolder;
font-size: 35px;


}

#Blog1{

    color: #92140C;
    font-weight: bolder;
    font-size: 35px;
    

}
.Cuerpo{
    margin-left: 10%;
display: flex;
align-items: center;



}


#Tema{
   
    align-self: flex-start;
    order: 5;
    font-weight: bolder;

  

}
.Letras{
justify-content: flex-end;
     color: brown;
  padding-right: 50px;
}

.ListaComida{
    justify-content: center;
    z-index: 2;
}

.ClaseComida{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 70px;
}

.AComida{
    height: 210px;
    width: 240px;  
}

.Description{
    background-color: #FFF8F0; 
    height: 210px;
    width: 240px;  
    text-align: center;
    justify-content: center;

}
.Plato #Home{

    font-size: bolder;
    
    
    }    

        .ListaComida2{
            justify-content: center;
    z-index: 2;
        }
    
        .ClaseComida2{
            display:flex;
            flex-direction: row;
            justify-content: center;
            padding-right: 70px;
        }


        .ListaComida3{
            justify-content: center;
    z-index: 2;
        }
    
        .ClaseComida3{
            display:flex;
            flex-direction: row;
            justify-content: center;
            padding-right: 70px;
        }
    