.Container{
width: 100%;
height: 40px;
background-color: #605856;
display: flex;
justify-content: space-evenly;
font-family:'Lora', serif; 
font-weight: bolder;



}
.Parcial{

    color: white;
    font-weight: bolder;
padding-left: 49%;
}
 .Figuras{
color: white;
font-weight: bolder;
padding-left: 47%;



 }
 .Texto{

    color: white;
    font-weight: bolder;
    padding-left: 33%;
    font-family:'Lora', serif; 

 }
 .Cuerpo{

    background-color: yellow;
    width: 20%;
    height: 510px;

 }
 .Cuerpo .Imagen1{

width: 50%px;
height: 250px;



 }
.Imagen1{

width: 200px;
height: 200px;

}


 